@media only screen and (max-width: 576px)  {
    .other-1 .more-btn a {
        font-size: 13px;
        padding: .4rem .8rem;
    }

    .other-2 .more-btn a {
        font-size: 13px;
        padding: .4rem .8rem;
    }
}

@media only screen and (min-width: 576px) {
    .advantage {
        padding-top: 6rem;
        padding-bottom: 3rem;
    }

    .other-1 img{
        height: 20rem;
    }

    .all-gallery .nav-tabs .nav-item {
        width: auto;
    }

    .headline .content a .card-title {
        font-size: 1.3rem;
    }

    .box-news {
        padding: 0 1rem;
    }

    .content a .card-title {
        font-size: 1.1rem;
    }

    .content .card-date {
        font-size: .65rem;
    }


    .content .card-text {
        font-size: .8rem;
    }

}

@media only screen and (min-width: 768px)  {
    .content a .card-title {
        font-size: 1.3rem;
    }

    .content .card-date {
        font-size: .7rem;
    }


    .content .card-text {
        font-size: .9rem;
    }
}

@media only screen and (min-width: 992px) {
    .section-tracking {
        background: transparent;
        padding-top: 0;
        padding-bottom: 0;
    }

    .tracking {
        position: absolute;
        z-index: 2;
        width: 100%;
        top: -150px;
    }

    .form-control.ongkir {
        padding-top: .8rem;
        padding-bottom: .8rem;
    }

    .other-1 img {
        height: auto;
    }

    .contact .form {
        border-right: 1px solid #8D8B8B;
    }

    .content a .card-title {
        font-size: 1.1rem;
    }

    .content .card-date {
        font-size: .65rem;
    }


    .content .card-text {
        font-size: .8rem;
    }
}

@media only screen and (min-width: 1200px)  {

    .content a .card-title {
        font-size: 1.3rem;
    }

    .content .card-date {
        font-size: .7rem;
    }


    .content .card-text {
        font-size: .9rem;
    }
}

@media only screen and (min-width: 1400px)  {
 
}


@media only screen and (min-width: 600px) and (max-width: 991px) {
 
}