/********** Template CSS **********/
:root {
    --primary: #F20244;
    --secondary: #021172;
    --light: #FFFFFF;
    --dark: #1E1E1E;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
    --bg-linier-primary: linear-gradient(93.63deg, #021172 19.03%, #0790F5 93.02%);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 15px;
    bottom: 75px;
    border-radius: 8px;
    z-index: 99;
    background: #25D366;
    color: var(--light);
}

body {
    font-family: var(--font-montserrat);
    color: var(--secondary);
    line-height: 1.2;
}

h1,
.h1,
h2, 
.h2,
.fw-bold {
    font-weight: 700 !important;
    margin-bottom: 0;
}

h3,
.h3,
h4,
.h4,
.fw-medium {
    font-weight: 600 !important;
    margin-bottom: 0;
}

h5,
.h5,
h6,
.h6,
.fw-semi-bold {
    font-weight: 500 !important;
    margin-bottom: 0;
}

p {
    margin-bottom: 0;
}


/*** Background & Text ***/
.bg-first {
    background: var(--primary);
    color: var(--light);
}

.bg-second {
    background: var(--secondary);
    color: var(--light);
}   

.text-first {
    color: var(--primary);
}

.text-second {
    color: var(--secondary);
}

.text-black {
    color: var(--dark);
}

.text-black-10 {
    color: var(--dark);
}

.text-justify {
    text-align: justify;
}

.z-1 {
    z-index: 1;
}

.w-fit {
    width: fit-content;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.fs-14 {
    font-size: 14px;
}

.fs-12 {
    font-size: 12px;
}

.rounded-10 {
    border-radius: 10px;
}

/*** Button ***/
.btn {
    transition: .5s;
    font-weight: 500;
}

.header-title {
    position: relative;
    padding-bottom: 2rem;
}

.header-title::before {
    content: "";
    background: var(--primary);
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 15%;
    height: 5px;
}

.header-title h2 {
    color: var(--secondary);
    line-height: 1.1;
}


.more-btn a {
    padding: 0.4rem 1rem;
    transition: .5s ease;
}

.more-btn a:hover {
    border-radius: 10px !important;
    color: var(--light);
}

.breadcrumb .breadcrumb-item a {
    color: var(--light);
    transition: .3s;
}

.breadcrumb .breadcrumb-item a:hover {
    color: var(--primary);
}




/*** Top Navbar ***/
.top-navbar::before {
    content: "";
    background: var(--secondary);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.top-navbar::after {
    content: "";
    background: var(--primary);
    border-style: solid;
    border-width: 0px 80px 125px 0;
    border-color: transparent var(--secondary) transparent transparent ;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
}

.top-navbar .location {
    padding-right: 13rem;
    font-size: 1rem;
}

.top-navbar .location i {
    font-size: 1.5rem;
}

.top-navbar .location p {
    font-size: .8rem;
}

.top-navbar .contact {
    font-size: .9rem;
}



.top-navbar .contact .phone .btn-phone {
    background: var(--light);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}


.top-navbar .btn.btn-social {
    margin-right: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
    background: var(--light);
}

/*** Navbar ***/
.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

.navbar .navbar-nav .nav-link {
    margin-right: 5px;
    padding: 30px 10px;
    color: var(--primary);
    font-size: 14px;
    font-weight: 500;
    outline: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.navbar .navbar-nav .nav-link:focus {
    color: var(--primary);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--secondary);
    font-weight: 700;
    background: rgba(167, 167, 167, 0.2);
    border-bottom: 3px solid var(--secondary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
    transform: rotate(-180deg);
    transition: .3s;
}

.navbar .dropdown-toggle:hover::after {
    transform: rotate(0deg);
}

.navbar .dropdown-menu {
    background: var(--secondary);
}

.navbar .dropdown-menu .dropdown-item {
    color: var(--light);
    text-transform: uppercase;
}

.navbar .dropdown-menu .dropdown-item.active, 
.navbar .dropdown-menu .dropdown-item:hover,
.navbar .dropdown-menu .dropdown-item:focus {
    background: var(--primary);
}





@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-nav .nav-link {
        font-size: calc(0.4rem + 0.5vw);
    }

    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .navbar .more-btn a {
        font-size: calc(0.4rem + 0.5vw);
    }

}


/*** Header ***/
.hero-header {
    margin-bottom: 0;
    padding: 9rem 0 15rem;
    background-image: url(../img/bg-header.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

.hero-header::before {
    content: "";
    background: linear-gradient(258.14deg, #F4FF79 -17.64%, rgba(249, 255, 183, 0.36) 3.69%, rgba(120, 125, 71, 0) 45.69%, rgba(39, 39, 39, 0) 59.68%, rgba(0, 0, 0, 0.58) 92.74%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*** other-1 ***/
.other-1 img{
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 25rem;

}


/*** Advantage ***/
.advantage {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.advantage .header-title::before {
    width: 50%;
}


.widget-hover {
    padding: 1.5rem;
    transition: .5s ease;
    border-radius: 3px;
}

.widget-hover:hover {
    background: var(--bg-linier-primary);
    box-shadow: -9px 17px 21px -4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.widget-hover .gambar {
    width: 100%;
    height: auto;
}

.widget-hover img {
    transition: all .3s ease;
}

.widget-hover:hover img {
    filter: brightness(0) invert(1);
}

.widget-hover .caption {
    transition: all .3s ease;
}

.widget-hover:hover .caption {
    color: var(--light);
}

.widget-hover .more-btn a {
    padding: 0;
}


.widget-hover:hover .more-btn a {
    background: var(--primary);
    color: var(--light);
    padding: 0.4rem 1rem;
}


/*** Our Service ***/
.our-service .d-flex .img {
    margin-left: -90px;
    margin-right: 20px;
}

.our-service .gambar {
    width: 90px;
    height: auto;
}

/*** News ***/
.widget-news {
    padding: 2.5rem 2rem;
    transition: .5s;
}

.widget-news:hover {
    box-shadow: -7px 4.10755px 17px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.widget-news .more-btn a {
    padding: 0;
}

.widget-news:hover .more-btn a {
    background: var(--primary);
    color: var(--light);
    padding: 0.4rem 1rem;
}

.news .more-btn a:hover {
    color: var(--light);
}

.news .more-btn.btn-last a:hover {
    color: var(--primary);
}



/*=============== PROFILE ===============*/

/*** other-hero-header ***/
.other-hero-header {
    margin-bottom: 0;
    padding: 7rem 0;
    background-image: url(../img/bg-profile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

.other-hero-header::before {
    content: "";
    background: #021172;
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*** Special Point ***/
.special-point .gambar {
    width: 90px;
    height: auto;
}

.special-point .slider-container {
    position: relative;
}

.special-point .swiper-container {
    position: static;
}


.special-point .swiper-button-prev {
    background-image: url("../img/arrow-left.svg");
    background-size: 12px;
    left: -12%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 3.68819px 12.9086px 0.922046px rgba(0, 0, 0, 0.16);
}
.special-point .swiper-button-next {
    background-image: url("../img/arrow-right.svg");
    background-size: 12px;
    right: -12%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    box-shadow: 0px 3.68819px 12.9086px 0.922046px rgba(0, 0, 0, 0.16);
}



/*=============== DELIVERY ===============*/

/*** delivery ***/
.delivery {
    background: #F5F2F2;
}
.delivery-title .header-title::before {
    transform: none;
    left: 0;
    right: 0;
    width: 30%;
}
.delivery .nav-tabs {
    display: block;
}



.delivery .nav-tabs .nav-item .nav-link {
    color: var(--dark);
    border: 1px solid #D7D7D7;
    padding: 1rem 2rem;
    font-weight: 600;

}

.delivery .nav-tabs .nav-item .nav-link:hover {
    background: #E8E8E8;
}

.delivery .nav-tabs .nav-item .nav-link.active,
.delivery .nav-tabs .nav-item .nav-link.focus {
    background: var(--primary);
    color: var(--light);
}

.delivery .nav-tabs .nav-item .nav-link.active img,
.delivery .nav-tabs .nav-item .nav-link.focus img{
    filter: brightness(0) invert(1);
}



/*=============== MEDIA ===============*/

/*** all-gallery ***/

.all-gallery .nav-tabs .nav-item {
    width: 100%;
}

.all-gallery .nav-tabs .nav-item .nav-link {
    color: var(--dark);
    border: 1px solid #D7D7D7;
    padding: 1rem 3rem;
    font-weight: 600;
    border-radius: 0;

}

.all-gallery .nav-tabs .nav-item .nav-link:hover {
    background: #E8E8E8;
}

.all-gallery .nav-tabs .nav-item .nav-link.active,
.all-gallery .nav-tabs .nav-item .nav-link.focus {
    background: var(--primary);
    color: var(--light);
    border: 1px solid var(--primary);
}

.all-gallery .nav-tabs .nav-item .nav-link.active img,
.all-gallery .nav-tabs .nav-item .nav-link.focus img{
    filter: brightness(0) invert(1);
}



/*=============== CAREER ===============*/

/*** Career ***/
.career .widget-hover {
    padding: .7rem .7rem 2rem;
}

.career .widget-hover:hover {
    background: var(--primary);
}

.career .widget-hover .card-date {
    color: #676767;
    transition: .3s;
}

.career .widget-hover:hover .card-date {
    color: var(--light);
}

.career .widget-hover:hover img {
    filter: none;
}

.career .widget-hover img {
    border-radius: 10px 10px 0 0;
}


.career .widget-hover:hover .more-btn a {
    background: var(--secondary);
}



/*=============== NEWS ===============*/

/*** News ***/
.box-news {
    border-radius: 8px;
    transition: .4s;
    padding: 0;
}

.box-news:hover {
    background: var(--light);
    box-shadow: -7.193803787231445px 7.91318416595459px 24.45893096923828px -0.7193803191184998px rgba(0, 0, 0, 0.30);
    padding: 1rem;
}

.box-news .picture {
    overflow: hidden;
    transition: .4s;
    border-radius: 8px;
}

.box-news .picture img {
    transition: .4s;
}

.box-news:hover .picture img {
    transform: scale(1.2);
}

.headline .content a .card-title {
    font-size: 1.1rem;
}

.content a .card-title {
    font-size: .85rem;
    font-weight: 700;
    color: var(--dark);
    transition: .4s;
}

.content a:hover .card-title {
    color: var(--primary);
}


.content .card-date {
    font-size: .6rem;
    color: #C7C7C7;
}

.content .card-text {
    font-size: .7rem;
    color: #737373;
}

.content .card-text a {
    color: var(--secondary);
    font-weight: 600;
    transition: .4s;
}

.content .card-text a:hover {
    color: var(--primary);
}


/*=============== Contact ===============*/

/*** Contact ***/

form input {
    border: none;
    border-bottom: 1px solid;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background: transparent;
}

form textarea {
    background: transparent !important;
}

input[type="text"]:focus {
    outline: none;
}
input[type="email"]:focus {
    outline: none;
}









/*** Tim Help ***/
.tim-help {
    padding: 3rem 0;
    background-image: url(../img/tim-help.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    object-fit: cover;
}

/*** Client ***/
.client .gambar img {
    filter: grayscale(100);
    transition: .4s ease;
}

.client .gambar img:hover {
    filter: none;
}

/*** Footer ***/
.footer {
    padding: 6rem 0;
    background-image: url(../img/img-peta.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1  ;
    object-fit: cover;
}

/* .footer::before {
    content: "";
    background: #021172;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

.footer .content {
    color: var(--light);
}

.footer .content .card-text {
    color: var(--light);
}

.footer .content ul {
    list-style: none;
    padding-left: 0;
}

.footer .content ul li {
    margin-bottom: 1rem;
}

.footer .content ul li a {
    color: var(--light);
    transition: .3s;
}

.footer .content ul li a:hover {
    letter-spacing: 1.2px;
}

.footer .content .btn.btn-social {
    margin-right: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
    background: var(--light);
}

.footer .content .btn.btn-social:hover {
    background: var(--primary);
    color: var(--light);
}

iframe {
    width: 100%;
    height: 300px;
}

.copyright p {
    color: var(--light);
}

.copyright a {
    color: var(--light);
}

.copyright a:hover {
    color: var(--primary);
}